/*
 * @Description: 外补填充(margin)
 * @Author: linpan(45650368@qq.com)
 * @Date: 2022-11-23 14:55:10
 * @LastEditors: vusui 45650368@qq.com
 * @LastEditTime: 2023-05-12 10:37:17
 * @WebSite: https://vusui.com
 * @Copyright: 2017-present The Vusui Authors
 * @Readme: 开源不易，且用且珍惜！
 */
@use "sass:math";

$numberList: 1 2 3 4 5 6 7 8 9 10 12 14 15 16 18 20 22 24 25 26 28 30 32 34 35
  36 38 40 42 44 45 46 48 50 0;

@for $i from 1 through length($numberList) {
  #{$v}ma-#{nth($numberList, $i)} {
    margin: #{math.div(nth($numberList, $i), 16)}rem !important;
  }
}

@for $i from 1 through length($numberList) {
  #{$v}ml-#{nth($numberList, $i)} {
    margin-left: #{math.div(nth($numberList, $i), 16)}rem !important;
  }
  #{$v}mt-#{nth($numberList, $i)} {
    margin-top: #{math.div(nth($numberList, $i), 16)}rem !important;
  }
  #{$v}mr-#{nth($numberList, $i)} {
    margin-right: #{math.div(nth($numberList, $i), 16)}rem !important;
  }
  #{$v}mb-#{nth($numberList, $i)} {
    margin-bottom: #{math.div(nth($numberList, $i), 16)}rem !important;
  }
}

// 媒体设备
@each $device, $value in $media-min-width {
  @include media-min($device) {
    @for $i from 1 through length($numberList) {
      #{$v}ma-#{$device}-#{nth($numberList, $i)} {
        margin: #{math.div(nth($numberList, $i), 16)}rem !important;
      }
    }

    @for $i from 1 through length($numberList) {
      #{$v}ml-#{$device}-#{nth($numberList, $i)} {
        margin-left: #{math.div(nth($numberList, $i), 16)}rem !important;
      }
      #{$v}mt-#{$device}-#{nth($numberList, $i)} {
        margin-top: #{math.div(nth($numberList, $i), 16)}rem !important;
      }
      #{$v}mr-#{$device}-#{nth($numberList, $i)} {
        margin-right: #{math.div(nth($numberList, $i), 16)}rem !important;
      }
      #{$v}mb-#{$device}-#{nth($numberList, $i)} {
        margin-bottom: #{math.div(nth($numberList, $i), 16)}rem !important;
      }
    }
  }
}
