/*
 * @Description: 圆角半径样式
 * @Author: linpan(45650368@qq.com)
 * @Date: 2022-11-23 15:08:35
 * @LastEditors: vusui 45650368@qq.com
 * @LastEditTime: 2023-05-09 08:59:42
 * @WebSite: https://vusui.com
 * @Copyright: 2017-present The Vusui Authors
 * @Readme: 开源不易，且用且珍惜！
 */
// @use "sass:math";

@for $i from 0 through 20 {
  #{$v}radius-#{$i} {
    border-radius: #{$i * 2}rpx;
  }
}

@for $i from 0 through 20 {
  #{$v}radius-tl-#{$i} {
    border-top-left-radius: #{$i * 2}rpx;
  }
  #{$v}radius-tr-#{$i} {
    border-top-right-radius: #{$i * 2}rpx;
  }
  #{$v}radius-bl-#{$i} {
    border-bottom-left-radius: #{$i * 2}rpx;
  }
  #{$v}radius-br-#{$i} {
    border-bottom-right-radius: #{$i * 2}rpx;
  }
}

#{$v}radius-circle {
  border-radius: 50%;
}
#{$v}radius-large {
  border-radius: 4000rpx;
}
#{$v}radius-tl-circle {
  border-top-left-radius: 50%;
}
#{$v}radius-tl-large {
  border-top-left-radius: 4000rpx;
}
#{$v}radius-tr-circle {
  border-top-right-radius: 50%;
}
#{$v}radius-tr-large {
  border-top-right-radius: 4000rpx;
}
#{$v}radius-bl-circle {
  border-bottom-left-radius: 50%;
}
#{$v}radius-bl-large {
  border-bottom-left-radius: 4000rpx;
}
#{$v}radius-br-circle {
  border-bottom-right-radius: 50%;
}
#{$v}radius-br-large {
  border-bottom-right-radius: 4000rpx;
}
